<div class="create-btn">
  <button>
    <span class="plus"><img src="../../../assets/images/compose.png" /></span>
    <span class="message" *ngIf="!toggleIcon">Compose</span>
  </button>
</div>

<div class="menu">
  <main-menu
    *ngFor="let item of items"
    (click)="handleMenu(item)"
    [item]="item"
    [toggleIcon]="toggleIcon"
  ></main-menu>

  <div class="more-menu" *ngIf="showMoreMenu">
    <more-menu
      *ngFor="let moreItem of moreMenu"
      (click)="handleMenu(moreItem)"
      [moreItem]="moreItem"
      [toggleIcon]="toggleIcon"
    ></more-menu>

    <div class="submenu" *ngIf="showSubmenu">
      <category-menu
        *ngFor="let menu of categories"
        [menu]="menu"
        [toggleIcon]="toggleIcon"
      ></category-menu>
    </div>

    <extra-menu
      *ngFor="let item of extra"
      [item]="item"
      [toggleIcon]="toggleIcon"
    ></extra-menu>
  </div>
</div>
