<div class="page-loader" *ngIf="!contentIsLoaded">
  <div class="loader">
    <div class="logo">
      <img [src]="logo" title="Gmail" />
    </div>
    <span class="loadbar"></span>
    <p>Google WorkSpace</p>
  </div>
</div>

<gm-header
  *ngIf="contentIsLoaded"
  (toggleIcon)="changeToggle($event)"
  (toggleStates)="setToggleState($event)"
></gm-header>
<div class="app-body" *ngIf="contentIsLoaded">
  <div [ngClass]="toggleClass() + statedClass">
    <gm-left-sidebar
      [toggleIcon]="toggleIcon"
      (mouseenter)="hoverSidebar()"
      (mouseleave)="hoverSidebar()"
    ></gm-left-sidebar>
  </div>
  <div class="content" [ngClass]="pageStyleClass">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <div class="right-sidebar">
    <gm-right-sidebar></gm-right-sidebar>
  </div>
</div>
